<section class="container">
  <div>
    <div>
      <p>Entradas</p>
      <fa-icon class="--green" [icon]="iconFaMoneyBill1"></fa-icon>
    </div>
    <strong>{{summary.deposits | currency:'BRL':true:'1.2-2'}}</strong>
  </div>

  <div>
    <div>
      <p>Saídas</p>
      <fa-icon class="--red" [icon]="iconFaMoneyBillWave"></fa-icon>
    </div>
    <strong>{{summary.withdraws | currency:'BRL':true:'1.2-2'}}</strong>
  </div>

  <!-- TODO - alterar dinâmico -->
  <div [ngClass]="{'--negative': summary.total < 0, '--positive': summary.total > 0}">
    <div>
      <p>Total</p>
      <fa-icon [icon]="iconFaSackDollar"></fa-icon>
    </div>
    <strong>{{summary.total | currency:'BRL':true:'1.2-2'}}</strong>
  </div>
</section>