table {
  width: 100%;
  border-spacing: 0 .5rem;
  margin-top: 3rem;

  th {
    color: var(--text);
    font-weight: 400;
    padding: 1rem 2rem;
    text-align: left;
    line-height: 1.5rem;
  }
  tr {
    transition: filter .2s;
    cursor: pointer;
    &:hover {
      filter: brightness(1.2);
    }
  }

  td {
    padding: 1rem 2rem;
    border: 0;
    background: var(--gray-700);
    font-weight: 400;
    color: var(--text);
    border-radius: .25rem;

    &.--deposit {
      color: var(--green);
    }

    &.--withdraw {
      color: var(--red-800);
    }
  }
}

@media (max-width: 840px) {

  .date {
    display: none;
  }
}

@media (max-width: 500px) {

  .category {
    display: none;
  }

}