* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --text: #eaeaea;

  --gray-100: #e1e1e6;
  --gray-300: #a8a8a5;
  --gray-700: #323238;
  --gray-800: #29292e;
  --gray-850: #1f2729;
  --gray-900: #151518;

  --tomato: tomato;
  --red-800: #e52e4d;
  --red-500: #e0657a;
  --blue: #5429cc;
  --green: #33cc95;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

body {
  background: var(--gray-900);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
